.footer {
    display: flex;
    justify-content: center;
    padding: 40px 0 18px;
    background-color: $extra-bg;
    @include desktop {
      padding: 30px 30px 18px;
    }
    @include mobile {
      padding: 10px 10px 18px;
    }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

.footerMain {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    border-bottom: 1px solid $border-color
}

.title {
    margin: 12px 0 14px;
    color: $color-white;
}

.description {
    margin-bottom: 18px;
    color: $footer-description;
    font-size: $font-size-12;
    @include desktop {
      font-size: $font-size-14;
    }
    @include mobile {
      font-size: $font-size-12;
    }
}

.footerExtra {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: $footer-description;
    font-size: $font-size-14;
    @include desktop {
      font-size: $font-size-14;
    }
}

.links {
    display: flex;  
    gap: 8px;
    font-size: var(--font-size-m);
}

.socials {
    display: flex;
    gap: 8px;
}

.linksContainer {
  display: flex;
  gap: 8px;
  @include mobile {
    gap: 6px;
    flex-direction: column;
  }
}