.authSidebar {
    display: flex;
    flex: 1 0 42%;
    background-color: $btn-primary-bg;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
    color: #FFFFFF;
    @include mobile {
        display: none
    }
}

.heading {
    @include body6;
    margin-bottom: 14px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 8px;
}