.button {
  display: flex;
  align-items: center;
  padding: 0 32px;
  border: 1px solid transparent;
  height: 48px;
  border-radius: $radius-xm;
  color: white;
  background-color: $btn-primary-bg;
  cursor: pointer;
  font-size: $font-size-18;
  font-weight: $font-weight-med;
  justify-content: center;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.button.primary {
  color: white;
  background-color: $btn-primary-bg;
  border: 1px solid transparent;
}

.button.secondary {
  color: $btn-primary-bg;
  background-color: $btn-active-bg;
  border: 1px solid $btn-primary-bg;
}

.fullWidth {
  width: 100%;
}