.wrapper {
    display: flex;
    flex-direction: column;
    color: $text-description;
    gap: 0.375rem;
}

.label {
    font-size: 0.875rem;
    font-weight: $font-weight-med;
    color: $text-input;
}

.input {
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    padding: 0.5rem 0.75rem;
    height: 48px;
    color: $text-input;
    background: $color-white;
    width: 100%;
    max-width: 100%;
}

.inputError {
    border-color: #ff0000;
}

.errorText {
    color: #ff0000;
}