.container {
  display: flex;
  justify-content: center;
  padding: 180px 16px 70px;
  width: 100%;
  @include tablet {
    padding-top: 0;
    padding-bottom: 20px;
    margin-top: 90px;
  }
  @include mobileS {
    padding-bottom: 0;
  }
}
